
*{
    margin: 0;
    padding: 0;
    list-style:none ;
    font-family: sans-serif;
    }


header{
    
    position: relative;
    margin: 20px 200px;
    width: 1000px;
    height: 120px;
  
}

#logo{

   position: absolute; 
   top:30px ;
   left: 30px;
   width:200px;
   height: 60px;
   background-color: rgba(177, 220, 255, 0.555);
   font-family: 'Roboto', sans-serif;
   font-size: 50px;
   text-align: center;
   border-radius: 10px;
}

 .redes{

    position: absolute;
    width: 42px;
    height: 42px;
    background-color: rgb(65, 104, 136);
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color: white;
}

#icono1{

  top:42px ;  
  right: 120px;
  background-color: rgba(255, 194, 255, 0.445);
}

  #icono2{

  top:42px ;  
  right: 71px;
  background-color: rgba(89, 240, 225, 0.582);
}

  #icono3{

  top:42px ;  
  right: 22px;
  background-color: rgba(255, 255, 79, 0.438);
}

nav{

    position: relative;
    margin: 0px 200px;
    width: 1000px;
    height: 46px;
   

}

.botones{
    width: 1010px;
    background-color: rgb(253, 253, 253);
    height: 192px;
    }

.botones{

    float: left;
    width: 198px;
    margin: 0x 5px;
    height: 48px;
    background-color: rgba(255, 198, 255, 0.534);
    margin-right: 2px;
    text-align: center;
    color: rgb(150, 130, 238);
    line-height: 48px;
  
  
}


a.botones:hover{

  background-color:rgba(255, 162, 255, 0.096) ;
}

a.botone:active{

    background-color:rgb(186, 186, 250) ;
}

#top{

    position: relative;
    margin: 20px 200px;
    width: 1000px;
    height: 192px;
    background-color: rgb(177, 200, 228);
   
}



 section{

    position: relative;
    margin: 20px 200px;
    width: 1000px;
    height: 450px;  

        }

article h1{

    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 20px;
}

article {

    text-align: center;
    
}

article p{

    margin: 5px 20px;
    font-size: 14px;
    text-align: justify;
}
aside#izq{

    position: absolute; 
    left: 0;    
    top: 0;
    width: 200px;
    height: 453px;
    background-color:rgb(155, 146, 155) ;
}
aside#izq ul li{

    background-color: rgba(255, 255, 255, 0.582);
    padding: 10px;
    margin: 2px 10px;
    list-style: square;
    list-style-position:inside;
    
}

 aside#der{

    position: absolute; 
    right: 0;    
    top: 0;
    width: 200px;
    height: 453px;
    background-color:rgb(155, 146, 155) ;
}

aside#der h1{

    width: 200px;
    height:50px ;
    line-height:50px ;
    text-align: center;
    background-color:rgba(255, 198, 255, 0.534) ;
    color:rgb(248, 247, 255) ;
    margin-bottom: 5px;
}

aside#der input{

    padding: 10px;
    margin: 5px 0px;
    width: 176px;

}

aside#der input[type="submit"]{

    width: 200px;
    background-color:rgba(255, 198, 255, 0.534) ;
    border: 0px;

}



.article{

    position: absolute;
    left: 0;
    top: 0;
    width: 600px;
    height: 453px;
    
}

footer{

    position: relative;
    margin: 20px 200px;
    width: 1000px;
    height: 50px;
    background-color: rgba(255, 198, 255, 0.534);
    text-align: center;
    line-height:70px ;
    color:rgb(150, 130, 238) ;
}

#top ul{
    width: 1010px;
    background-color: rgb(253, 253, 253);
    height: 192px;
    }


    #top ul li{

       font-size: 14px;
    }

#top ul li{
    float: left;
    width: 326px;
    height: 192px;
  
    margin-right: 10px;
    text-align: center;
   
}


